{
  "twitter_authentication": {
    "consumer_key": null,
    "consumer_secret": null,
    "access_token": null,
    "access_token_secret": null
  },
  "tweepy": {
    "async": true,
    "wait_on_rate_limit": false
  },
  "storage": [
    {
      "type": "file",
      "options": {
        "file_path": "/data/tweets", 
        "format": "csv"
      },
      "enabled": false
    },
    {
      "type": "hadoop",
      "options": {
      },
      "enabled": false
    },
    {
      "type": "kafka",
      "options": {
        "endpoint": {
          "bootstrap.servers": "localhost",
          "socket.timeout.ms": 100,
          "request.timeout.ms": 1000,
          "client.id": "twitter-watchdog",
          "api.version.request": true,
          "enable.auto.commit": true,
          "security.protocol": null,
          "ssl.key.location": null,
          "ssl.ca.location": null,
          "ssl.certificate.location": null,
          "ssl.keystore.location": null,
          "ssl.keystore.password": null,
          "ssl.key.password": null,
          "debug": "protocol,security"
        },
        "topic": "twitter-watchdog"
      },
      "enabled": false
    },
    {
      "type": "mongodb",
      "options": {
        "host": "localhost",
        "port": 27017,
        "username": nulll,
        "password": null,
        "auth_source": "admin",
        "auth_mechanism": "SCRAM-SHA-256",
        "db": "twitter-watchdog",
        "collection": "tweets"
      },
      "enabled": false
    }
  ],
  "languages": ["en", "el"],
  "locality": "Greece",
  "topics": null,
  "debug": false,
  "verbose": false
}